@import "~normalize.css";
@import "./../../../node_modules/swiper/css/swiper.min.css";
@import "settings/mixins";
@import "./../../plugins/virtual-keyboard/dev/scss/main";

* , *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

$teal: #009688;
$lightTeal: #b2dfdb;

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4;
    color: #fff;
    background-color: #2d2d2d;
}

.container {
    padding: 0 calc(50% - 700px);
    @include media(1480px) {
        padding: 0 40px;
    }
    @include media(900px) {
        padding: 0 20px;
    }
    @include media(460px) {
        padding: 0 10px;
    }
}

button {
    cursor: pointer;
}

.btn {
    width: 200px;
    height: 40px;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    background-color: $teal;
    border: 0;
    border-radius: 5px;
    transition: all 0.6s;
    &:hover {
        background-color: darken($teal, 5);
        box-shadow: 0 0 8px rgba(0,150,135,0.6);
    }
}

.header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-repeat: repeat-x;
    background-size: auto 100%;
    background-image: url(../img/header_bg.jpg);
    &_title {
        margin: 0;
        font-size: 28px;
        font-weight: 700;
        color: $lightTeal;
    }
}

.main {
    flex: 1 0 auto;
}

.search {
    &_block {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin: 50px 0 30px;
        @include media(600px) {
            flex-wrap: wrap;
            margin: 40px 0 20px;
        }
        .btn {
            width: 18%;
            height: 50px;
            @include media(600px) {
                width: 100%;
                height: 40px;
            }
        }
        .keyboard_wrap {
            position: absolute;
            top: 100%;
            left: -9999px;
            z-index: 5;
            width: 1000px;
            color: #212121;
            opacity: 0;
            transition: opacity 0.5s;
            @include media(1100px) {
                display: none;
            }
            &.active {
                left: 0;
                opacity: 1;
            }
            .keyboard_item.general {
                background-color: $teal;
                color: #fff;
                &.active, &:hover {
                    background-color: darken($teal, 5);
                }
            }
        }
    }
    &_label {
        position: relative;
        width: 80%;
        @include media(600px) {
            width: 100%;
            margin-bottom: 10px;
        }
        .clear_btn {
            position: absolute;
            top: 10px;
            right: 70px;
            width: 30px;
            height: 30px;
            background-color: transparent;
            border: 0;
            @include media(1100px) {
                right: 10px;
            }
            &:focus {
                outline: 0;
            }
            &:hover {
                &:before, &:after {
                    box-shadow: 0 0 2px rgba(0,150,135,0.6);
                }
            }
            &:before, &:after {
                content: '';
                position: absolute;
                top: 13px;
                left: 0;
                width: 30px;
                height: 3px;
                background-color: $teal;
                border-radius: 3px;
                transition: all 0.5s;
            }
            &:before {
                transform: rotate(45deg);
            }
            &:after {
                transform: rotate(-45deg);
            }
        }
        .keyboard_btn {
            position: absolute;
            top: 10px;
            right: 10px;
            width: 50px;
            height: 30px;
            border: 0;
            background-color: transparent;
            @include media(1100px) {
                display: none;
            }
            &:hover, &.active {
                .svg_icon {
                    filter: drop-shadow( 0 0 1px rgba(0,150,135,0.6));
                }
            }
            &:focus {
                outline: 0;
            }
            .svg_icon {
                width: 100%;
                height: 100%;
                fill: $teal;
                transition: all 0.5s;
            }
        }
    }
    &_input {
        width: 100%;
        height: 50px;
        padding: 0 20px 0 50px;
        border-radius: 4px;
        border: 1px solid lightgrey;
        transition: all 0.5s;
        &:focus {
            outline: 0;
            box-shadow: 0 0 8px rgba(0,150,135,0.6);
            & ~ .search_svg {
                filter: drop-shadow( 0 0 3px rgba(0,150,135,0.6));
            }
        }
        &::-webkit-search-decoration,
        &::-webkit-search-cancel-button,
        &::-webkit-search-results-button,
        &::-webkit-search-results-decoration {
            -webkit-appearance:none;
        }
    }
    &_svg {
        position: absolute;
        left: 10px;
        top: 10px;
        width: 30px;
        height: 30px;
        fill: $teal;
        transition: all 0.5s;
    }
    &_prompt {
        width: 100%;
        margin-bottom: 30px;
        font-size: 22px;
        font-weight: 500;
        color: #FF5252;
        text-align: center;
        @include media(600px) {
            margin-bottom: 20px;
            font-size: 18px;
        }
    }
}

.cssload {
    &-container {
        position: absolute;
        top: 100%;
        left: 50%;
        display: none;
        width: 70px;
        height: 35px;
        perspective: 975px;
        overflow: hidden;
        transform: translateX(-50%);
        &.active {
            display: block;
            .cssload-arc-cube {
                animation: cssload-arc 2.3s ease-in-out infinite;
            }
        }
    }
    &-arc {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 70px;
        height: 35px;
        overflow: hidden;
        &-cube {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 70px;
            height: 70px;
            border-style: solid;
            border-color: transparent;
            border-right-color: $teal;
            border-radius: 50%;
            box-sizing: border-box;
            transform: rotate(-20deg);
        }
    }
}

@keyframes cssload-arc {
    0% {
        border-width: 16px;
    }
    25% {
        border-width: 6px;
    }
    50% {
        transform: rotate(200deg);
        border-width: 16px;
    }
    75% {
        border-width: 6px;
    }
    100% {
        border-width: 16px;
    }
}

.movies {
    position: relative;
    margin-bottom: 50px;
    @include media(600px) {
        margin-bottom: 30px;
    }
}

.swiper {
    &-pagination {
        position: unset;
        bottom: 0;
        display: flex;
        justify-content: center;
        padding-bottom: 10px;
        &-bullet {
            background-color: $lightTeal;
            box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.4);
            opacity: 1;
            transition: background-color 0.4s;
            &-active {
                background-color: $teal;
            }
        }
    }
    &-nav {
        position: absolute;
        left: 0;
        top: calc(50% - 19px);
        width: 100%;
    }
    &-button {
        &-prev, &-next {
            position: absolute;
            top: -14px;
            margin: 0;
            width: 18px;
            height: 28px;
            @include media(900px) {
                top: -18px;
                width: 25px;
                height: 36px;
            }
            &:after {
                font-size: 25px;
                font-weight: 700;
                color: $teal;
                @include media(900px) {
                    font-size: 36px;
                }
            }
            &:focus {
                outline: 0;
            }
            &.swiper-button-disabled {
                opacity: 0;
            }
        }
        &-prev {
            left: -30px;
            @include media(900px) {
                left: 5px;
            }
        }
        &-next {
            right: -30px;
            @include media(900px) {
                right: 5px;
            }
        }
    }
    &-container {
        display: none;
        & + .swiper-nav {
            display: none;
        }
        &-initialized {
            display: block;
            & + .swiper-nav {
                display: block;
            }
        }
    }
    &-slide {
        height: auto;
    }
}

.movie {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #212121;
    border-radius: 8px;
    &_img {
        position: relative;
        width: 100%;
        height: 400px;
        background-position: center bottom;
        background-size: cover;
        background-image: url(../img/movie_bg.jpg);
        border-radius: 8px 8px 0 0;
        .img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: contain;
            border-radius: 8px 8px 0 0;
            transition: opacity 0.6s;
            &.back {
                z-index: 0;
                opacity: 0;
            }
            &.front {
                z-index: 1;
                opacity: 1;
            }
        }
    }
    &_title {
        margin-bottom: 12px;
        padding: 0 10px;
        font-size: 20px;
        font-weight: 500;
        color: $teal;
        text-decoration: none;
        transition: all 0.5s;
        &:hover {
            color: darken($teal, 5);
        }
        @include media(600px) {
            font-size: 18px;
            margin-bottom: 10px;
        }
    }
    &_info {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 10px;
        font-size: 16px;
        font-weight: 500;
        line-height: 1;
    }
    &_year {

    }
    &_rating {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        .svg_icon {
            width: 20px;
            height: 20px;
            margin-right: 8px;
            fill: #ffc107;
        }
    }
    &_bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: auto;
        padding: 10px;
        background-color: lighten(#212121, 2);
        border-radius: 0 0 8px 8px;
        .link {
            .svg_icon {
                display: block;
                width: 30px;
                height: 30px;
                fill: $teal;
                transition: fill 0.5s;
                &:hover {
                    fill: darken($teal, 10);
                }
            }
        }
        .favorites {
            width: 30px;
            height: 30px;
            stroke-width: 30;
            stroke: $teal;
            fill: transparent;
            cursor: pointer;
            transition: fill 0.6s;
            &:hover, &.active {
                fill: $teal;
            }
        }
    }
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    color: $lightTeal;
    background-repeat: repeat-x;
    background-size: auto 100%;
    background-image: url(../img/header_bg.jpg);
    .link {
        display: flex;
        align-items: center;
        color: $lightTeal;
        text-decoration: none;
        transition: color 0.5s;
        &:hover {
            color: $teal;
            .svg_icon {
                fill: $teal;
            }
        }
        .svg_icon {
            width: 26px;
            height: 26px;
            margin-right: 20px;
            fill: $lightTeal;
            transition: fill 0.5s;
        }
    }
}
