@import "~normalize.css";
@import "settings/mixins";
@import "settings/keyframes";

* , *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4;
    color: #212121;
}

.container {
    padding: 0 calc(50% - 600px);
    @include media(1480px) {
        padding: 0 40px;
    }
    @include media(900px) {
        padding: 0 20px;
    }
    @include media(460px) {
        padding: 0 10px;
    }
}

button {
    cursor: pointer;
}
