@import "~normalize.css";
@import "settings/mixins";
@import "settings/keyframes";

$teal: #009688;

* , *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4;
    color: #212121;
}

.container {
    padding: 0 calc(50% - 600px);
    @include media(1480px) {
        padding: 0 40px;
    }
    @include media(900px) {
        padding: 0 20px;
    }
    @include media(460px) {
        padding: 0 10px;
    }
}

button {
    cursor: pointer;
}

.btn {
    width: 300px;
    height: 50px;
    font-weight: 500;
    font-size: 22px;
    color: #fff;
    border: 0;
    background-color: $teal;
    border-radius: 6px;
    transition: background-color 0.5s;
    &:hover, &.active {
        background-color: darken($teal, 10);
    }
    &:focus {
        outline: 0;
    }
}

.preload {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../img/preload.jpg);
    &.hide {
        animation: 1s preloadHide forwards;
    }
    .title {
        margin-bottom: 24px;
        font-size: 50px;
        line-height: 1;
        color: #B2DFDB;
        text-shadow: 0 0 7px #000;
    }
    .text {
        margin-bottom: 30px;
        font-size: 24px;
        text-shadow: 0 0 5px #000;
    }
}

.main {
    padding-bottom: 50px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    margin-bottom: 50px;
}

.level {
    &_wrap {
        position: relative;
        display: inline-flex;
        &:before {
            content: '';
            position: absolute;
            top: calc(50% - 2px);
            left: 0;
            width: 100%;
            height: 4px;
            background-color: $teal;
        }
    }
    &_item {
        position: relative;
        z-index: 1;
        width: 14px;
        height: 14px;
        margin-right: 14px;
        padding: 3px;
        border-radius: 50%;
        background-color: $teal;
        cursor: pointer;
        transition: all 0.5s;
        &:hover {
            padding: 0;
            box-shadow: 0 0 0 1px #ffffff, 0 0 0 2px $teal;
        }
        &.active {
            box-shadow: 0 0 0 1px $teal, 0 0 0 3px #ffffff, 0 0 0 5px $teal;
        }
        &:last-child {
            margin-right: 0;
        }
    }
}

.score {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 30px;
    .star {
        width: 30px;
        height: 30px;
        margin-right: 15px;
        &:last-child {
            margin-right: 0;
        }
        .svg_icon {
            display: block;
            width: 100%;
            height: 100%;
            fill: $teal;
        }
    }
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    &_img {
        width: 400px;
        height: 270px;
        margin-bottom: 20px;
        object-fit: cover;
        border-radius: 8px;
    }
    &_word {
        display: none;
        width: 100%;
        margin-bottom: 30px;
        font-size: 24px;
        font-weight: 500;
        text-align: center;
    }
    &_btns {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        .btn {
            width: 18%;
            &.start {
                width: 60%;
            }
        }
    }
    &.active {
        .game_word {
            display: block;
        }
    }
}

.translation {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 30px;
    min-height: 40px;
}

.word_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 10px;
    &_item {
        display: flex;
        align-items: center;
        width: 18%;
        margin-bottom: 20px;
        padding: 10px 15px;
        border-radius: 6px;
        border: 1px solid lightgrey;
        background-color: #fff;
        cursor: pointer;
        transition: all 0.5s;
        &:hover {
            box-shadow: 0 0 0 1px rgba(255,255,255,.1), 0 2px 4px 0 rgba(14,30,37,.12);
        }
        &.active {
            background-color: rgba(0, 173, 159, .15);
            border: 1px solid $teal;
        }
        .svg_icon {
            width: 30px;
            height: 30px;
            margin-right: 20px;
            fill: $teal;
        }
        &_text {
            width: calc(100% - 50px);
            text-align: center;
        }
        &_title {
            font-size: 22px;
            font-weight: 500;
        }
        &_transcription {
            font-size: 20px;
            font-weight: 400;
            color: lightgrey;
        }
    }
}

.popup {
    position: fixed;
    top: 0;
    left: -9999px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, 0.5);
    opacity: 0;
    transition: opacity 0.7s;
    &.active {
        left: 0;
        opacity: 1;
    }
    &_block {
        width: 800px;
        max-width: 100%;
        padding: 40px;
        border-radius: 10px;
        background-color: #fff;
    }
    &_btns {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .title {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        font-size: 22px;
        font-weight: 500;
        span {
            margin-left: 15px;
            padding: 2px 20px;
            font-size: 18px;
            color: #fff;
            border-radius: 30px;
            &.success {
                background-color: #00aa00;
            }
            &.errors {
                background-color: red;
            }
        }
    }
    .result_item {
        display: flex;
        align-items: center;
        margin-bottom: 12px;
        cursor: pointer;
        .svg_icon {
            width: 30px;
            height: 30px;
            margin-right: 20px;
            fill: $teal;
        }
        .text {
            margin-right: 10px;
        }
    }
    .errors_block, .success_block {
        margin-bottom: 30px;
    }
}

